/* GENERAL STYLES */
html {
	height: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	background-image: url(../img/backgrounds/jungle-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	color: #262727;
	font-size: 20px;
	padding: 10px;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #262727;
	font-weight: bold;
}

a:hover {
	color: #262727;
}


/* LOGIN/REGISTER PANEL STYLES */
#login-panel {
	width: 80%;
	height: auto;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
	margin-top: 80px;
	margin-bottom: 25px;
	padding: 20px;
}

#login-header {
	border-bottom: 1px solid #262727;
	margin-bottom: 10px;
}

.btn-primary {
	margin-bottom: 20px;
	padding: 5px 30px 5px 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	background-color: #f5c562;
	border: 2.5px solid #262727;
	color: #262727;
}

.btn-primary:hover {
	background-color: #262727;
	border: 2.5px solid #262727;
	color: #f5c562;
}

.alert-success {
	background-color: #249D3D;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	border: none;
}

.alert-danger {
	background-color: #D72E3D;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	border: none;
}


/* FORM INPUT STYLES */
.input-group {
	margin-bottom: 10px;
	border: 5px solid #262727;
	border-radius: 10px;
}

.input-group-text {
	color: #262727;
	background-color: #f5c562;
	border: none;
}

input[type='text'], input[type='email'], input[type='password'] {
	/*border: 5px solid #262727;*/
	border: none;
	font-family: 'Roboto', sans-serif;
}

input[type='text']:hover, input[type='email']:hover, input[type='password']:hover {
	/*border-color: #3498DB;*/
}


/* KEEP REGISTER TAB HIDDEN UPON PAGE LOAD */
#second {
	display: none;
}


/*~ MOBILE CELLPHONE PORTRAIT SCREEN ~~*/
@media screen and (max-width: 575.98px) {
	#login-panel {
		margin-top: 25px;
		margin-bottom: 80px;
	}
}
