

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#top-nav {
	z-index: 10;
	background-color: #FFFFFF;
	border-bottom: 5px #F5C562 solid;
}

#nav-pic {
	height: 60px;
	margin: -6px 0px -6px 0px;
}

.nav-link {
	color: #262727 !important;
	margin-top: 5px;
}

nav button {
	background-color: #262727 !important;
	color: #F5C562 !important;
}

#search_text_input {
	border: 2.5px #F5C562 solid;
	border-radius: 20px;
	background-color: #F7F8F9;
	width: 180px;
}

#search_text_input:focus {
	border: 2.5px #F5C562 solid;
}

#user-search-btn {
	background: url(../img/icons/search.png);
	background-repeat: no-repeat;
	background-size: 30px;
	padding: 0px 15px 7px 15px;
	position: relative;
	right: 50px;
	border: none;
}

#user-search-form {
	position: relative;
	left: 38px;
}

.mobile-nav {
	display: none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENT TABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table {
	z-index: -1;
}

table a {
	color: white;
}

table button {
	position: absolute;
	right: 10px;
}

th {
	color: #F5C562;
}

#table-heading:hover {
	background-color: #262727;
}

tr {
	background-color: #262727;
}

tr:hover {
	background-color: #F5C562;
}

tr:hover a {
	color: #262727;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ADD CLIENT FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#add-client-div {
	background-color: #262727;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

#add-client-div .card {
	background-color: #262727;
}

#add-client-div button:hover {
	background-color: #F5C562;
	border: 1px #262727 solid;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENT INFO PANEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.client-info {
	background-color: #262727;
	padding: 10px;
	color: #FFFFFF;
	border-radius: 10px;
}

.client-info img {
	width: 100px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.client-info .fab {
	margin-right: 5px;
}

.client-info button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.client-info button:hover {
	background-color: #F5C562;
	border: 1px #262727 solid;
}

.client-info a {
	color: #F5C562;
}

.client-info a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.client-info .card {
	background-color: #262727;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TASK MANAGER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.add_new_task {
	background-color: #262727;
	padding: 25px;
	border-radius: 10px;
}

.task-cards {
	margin: 0px;
}




/*~~~~~~~~~~~~~ MOBILE TABLET SCREEN ~~~~~~~~~~~~~~*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.mobile-nav {
		display: inline-block;
	}

	#user-search-form {
		left: 0px;
	}

}



/*~~~~~~~ MOBILE CELLPHONE LANDSCAPE SCREEN ~~~~~~~*/
@media (min-width: 576px) and (max-width: 767.98px) {

	.mobile-nav {
		display: inline-block;
	}

	#user-search-form {
		left: 0px;
	}

}


/*~ MOBILE CELLPHONE PORTRAIT SCREEN ~~*/
@media screen and (max-width: 575.98px) { 

	.mobile-nav {
		display: inline-block;
	}

	#user-search-form {
		left: 0px;
	}

}



