

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#top-nav {
	z-index: 10;
	background-color: #FFFFFF;
	border-bottom: 5px #F5C562 solid;
}

#nav-pic {
	height: 60px;
	margin: -6px 0px -6px 0px;
}

.nav-link {
	color: #262727 !important;
	margin-top: 5px;
}

nav button {
	background-color: #262727 !important;
	color: #F5C562 !important;
}

#search_text_input {
	border: 2.5px #F5C562 solid;
	border-radius: 20px;
	background-color: #F7F8F9;
	width: 180px;
}

#search_text_input:focus {
	border: 2.5px #F5C562 solid;
}

#user-search-btn {
	background: url(../img/icons/search.png);
	background-repeat: no-repeat;
	background-size: 30px;
	padding: 0px 15px 7px 15px;
	position: relative;
	right: 50px;
	border: none;
}

#user-search-form {
	position: relative;
	left: 38px;
}

.mobile-nav {
	display: none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENT TABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table {
	z-index: -1;
}

table a {
	color: white;
}

th {
	color: #F5C562;
}

#table-heading:hover {
	background-color: #262727;
}

tr {
	background-color: #262727;
}

tr:hover {
	background-color: #F5C562;
}

tr:hover a {
	color: #262727;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENT INFO PANEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.client-info {
	background-color: #262727;
	padding: 10px;
	color: #FFFFFF;
}

.client-info .fab {
	margin-right: 5px;
}

.client-info button {
	position: absolute;
	right: 10px;
	bottom: 10px;
}








